credentials.json
google-ads.yaml
data
.env
src/config/client_secret.json

# Pythonキャッシュ
*.pyc
*.pyo
*.pyd
**/__pycache__

# Terraform
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terraform lock file
.terraform.lock.hcl