credentials.json
google-ads.yaml
data
.env
functions/config/client_secret.json
functions/.lighthouseci/
functions/local.settings.json

.venv

# Pythonキャッシュ
*.pyc
*.pyo
*.pyd
**/__pycache__
**/.pytest_cache

# Terraform
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terraform lock file
.terraform.lock.hcl

